<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>choose</string>
		<string>lowPrice</string>
		<string>record</string>
		<string>mySubiption</string>
	</array>
	<array>
		<string>选购好车</string>
		<string>超值低价</string>
		<string>浏览记录</string>
		<string>我的订阅</string>
	</array>
</array>
</plist>
